<section class="inner bg-success">

<h3 class="section-ttl text-center text-white pt-4 pb-3"><%= @plan.plan_title %>の編集</h3>

<%= flash[:notice] %>
<%= form_with model: @plan do |f| %>
 <%= render 'layouts/error_messages', resource: @plan %>

  <div class="container">
  <div class="rounded border border-info bg-white">
  <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step1 旅の基本情報</div>
	<div class="form-group form-inline input-group-sm">
	 <%= f.label :plan_title, "旅行のタイトル" , class: "col-md-2" %>
	 <%= f.text_field :plan_title , class: "col-md-9" %>
	</div>
    <div class="form-group form-inline input-group-sm">
	 <%= f.label :departure, "出発日" , class: "col-md-2" %>
     <%= f.date_field :departure , class: "col-md-2" %>
     <%= f.label :arrival, "到着日" , class: "col-md-2" %>
     <%= f.date_field :arrival , class: "col-md-2" %>
     <%= f.label :days, "泊数" , class: "col-md-1" %>
     <%= f.number_field :days, in: 1..30 , class: "col-md-2" %>
	</div>
    <div class="form-group form-inline input-group-sm pb-2">
     <%= f.label :budget, "予算" , class: "col-md-2" %>
	 <%= f.number_field :budget,in: 10000..100000, step: 5000 , class: "col-md-2"%>
     <%= f.label :count, "人数" , class: "col-md-2" %>
	 <%= f.number_field :count, in: 1..20 , class: "col-md-2" %>
	</div>
   </div>

   <div class="rounded border border-info bg-white mt-4">
   <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step2 旅の目的地</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.label :purpose, "目的" , class: "col-md-2" %>
     <% ["ゆっくりのんびり","グルメ","アクティビティ","温泉","散策","映え","観光","リフレッシュ","出会いを求めて"].each.with_index do |purpose,i| %>
      <label>
       <%= check_box_tag 'plan[purposes][]', purpose,false,id:"plan_purposes_#{i}"%>
       <%= purpose %>
      </label>
     <% end %>
    </div>
    <div class="form-group form-inline input-group-sm">
	        <%#= form_for @important_point do |f| %>
					<%#= f.text_field :important_point_1 %>
					    <%#= f.text_field :important_point_2 %>
					    <%#= f.text_field :important_point_3 %>
					    <%#= f.text_field :important_point_4 %>
					    <%#= f.text_field :important_point_5 %>
					    <%#= f.submit "決定", class: "btn btn-primary" %>
			    <%# end %>
	</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.label :spot_list, "候補地" , class: "col-md-2" %>
     <%= f.text_field :spot_list , class: "col-md-5" %>
     <%#= plan.important_point_1 %>
	 <%= f.label :purpose_spot, "目的地"  , class: "col-md-2"%>
	 <%= f.text_field :purpose_spot , class: "col-md-2" %>
	</div>
	<div class="form-group form-inline input-group-sm">
	 <%= f.label :purpose_spot, "目的地" , class: "col-md-2" %>
	 <%= f.text_field :purpose_spot , class: "col-md-2" %>
	</div>
	<div class="form-group form-inline input-group-sm pb-2">
     <%= f.label :memo, "メモ" , class: "col-md-2" %>
	 <%= f.text_area :memo,:size=>"50x3", class: "colsxrows2"%>
	</div>
   </div>

   <div class="rounded border border-info bg-white mt-4">
   <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step3 旅の詳細計画</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.select :action, {'出発': 1, '到着': 2, '移動': 3, 'アクティビティ': 4, '休憩': 5, '食事': 6, 'その他': 7}, { include_blank: '行動項目選択'}, { class: "col-md-2 ml-5" } %>
	 <%= f.datetime_field :action_date , class: "col-md-2 ml-4" %>
	 <%= f.text_field :action_detail , class: "col-md-4 ml-4", placeholder:"行動内容を記入：例）飛行機　成田発・那覇着" %>
  <!--   <%#= f.label :action_time, "時間" %>-->
	 <!--<%#= f.time_field :action_time %>-->
     <%= f.label :cost, "費用", class: "col-md-1" %>
	 <%= f.number_field :cost, class: "col-md-1" %>
	</div>
	<div class="form-group form-inline input-group-sm pb-2">
	 <div class="col-md-9">＋（行動項目追加）</div>
	 <%= f.label :cost_sum, "合計", class: "col-md-1" %>
	 <%= f.number_field :cost_sum, class: "col-md-1" %>
	</div>
   </div>

   <div class="rounded border border-info bg-white mt-4">
   <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step4 検索用タグの登録</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.label"タグ", class: "col-md-1" %>
     <%= f.text_field :name, value: @tag_list, class: "col-md-10", placeholder:"沖縄,シュノーケル,ソーキソバ　(,で区切ると複数タグ登録できます)" %>
    </div>
   </div>

    <div class="row mt-4 pb-5">
    <div class="form-inline mx-auto">
     <% if @plan.is_draft == true %>
      <%= f.submit "レシピを公開", :name => 'publicize_draft', class: 'mr-5 btn btn btn-warning text-success font-weight-bold' %>
      <%= f.submit "下書きを更新", :name => 'update_draft', class: 'mr-5 btn btn btn-outline-warning font-weight-bold' %>
     <% else %>
      <%= f.submit "レシピを更新", :name => 'update_post', class: 'mr-5 btn btn btn-warning text-success font-weight-bold' %>
     <% end %>
     <%= link_to "レシピを削除", "/plans/#{@plan.id}", method: :delete, data: {confirm: "このレシピを削除しますか？"}, class: "btn btn-secondary" %>
    </div>
    </div>

 <% end %>

</section>