<section class="inner bg-success">

<h3 class="section-ttl text-center text-white pt-4 pb-3"><%= @plan.plan_title %>の編集</h3>

<%= flash[:notice] %>
<%= form_with model: @plan do |f| %>
 <%= render 'layouts/error_messages', resource: @plan %>

  <div class="container">
  <div class="rounded border border-info bg-white">
  <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step1 旅の基本情報</div>
	<div class="form-group form-inline input-group-sm">
	 <%= f.label :plan_title, "旅行のタイトル" , class: "col-md-2" %>
	 <%= f.text_field :plan_title , class: "col-md-9" %>
	</div>
    <div class="form-group form-inline input-group-sm">
	 <%= f.label :departure, "出発日" , class: "col-md-2" %>
     <%= f.date_field :departure , class: "col-md-2" %>
     <%= f.label :arrival, "到着日" , class: "col-md-2" %>
     <%= f.date_field :arrival , class: "col-md-2" %>
     <%= f.label :days, "泊数" , class: "col-md-1" %>
     <%= f.number_field :days, in: 1..30 , class: "col-md-2" %>
	</div>
    <div class="form-group form-inline input-group-sm pb-2">
     <%= f.label :budget, "予算" , class: "col-md-2" %>
	 <%= f.number_field :budget,in: 10000..1000000, step: 5000, class: "col-md-2"%>
     <%= f.label :count, "人数" , class: "col-md-2" %>
	 <%= f.number_field :count, in: 1..20 , class: "col-md-2" %>
	</div>
   </div>

   <div class="rounded border border-info bg-white mt-4">
   <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step2 旅の目的地</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.label :purposes, "目的" , class: "col-md-2" %>
     <% ["ゆっくりのんびり　","グルメ　","アクティビティ　","温泉　","散策　","映え　","観光　","リフレッシュ　","出会いを求めて"].each.with_index do |purpose,i| %>
      <label>
       <%= check_box_tag 'plan[purposes][]', purpose,false,id:"plan_purposes_#{i}"%>
       <%= purpose %>
      </label>
     <% end %>
    </div>
    <div class="form-group form-inline input-group-sm">
     <P class="col-md-2 text-center pt-3">条件</P>
     <p class="col-md-4 text-center pt-3 small">目的地を決めるための条件です。候補地が条件をクリアしていれば☆をつけ、その数を参考に取捨選択しましょう。</p>
    	<%= f.text_field :important_point_1 ,:size=>"6",class:"mr-2", placeholder:"予算以内" %>
				 <%= f.text_field :important_point_2 ,:size=>"6",class:"mr-2", placeholder:"移動距離" %>
				 <%= f.text_field :important_point_3 ,:size=>"6",class:"mr-2", placeholder:"行きたい！" %>
				 <%= f.text_field :important_point_4 ,:size=>"6",class:"mr-2", placeholder:"天気による" %>
				 <%= f.text_field :important_point_5 ,:size=>"6", placeholder:"皆の希望" %>
    </div>

    <div class="mb-4">
      <%= f.fields_for :plan_spot_lists do |t| %>
       <%= render partial: "plan_spot_list_fields", locals: { f: t } %>
      <% end %>
      <div class="add-botton-box col-md-12 text-center">
       <%= link_to_add_association "候補地 ＋", f, :plan_spot_lists,
        data: {association_insertion_method: 'before'}
       %>
   　  </div>
    </div>

   	<div class="form-group form-inline input-group-sm">
	    <%= f.label :purpose_spot, "目的地"  , class: "col-md-2"%>
	    <%= f.text_field :purpose_spot , class: "col-md-9" %>
	   </div>

	   <div class="form-group form-inline input-group-sm pb-2">
     <%= f.label :memo, "メモ" , class: "col-md-2" %>
	    <%= f.text_area :memo,:size=>"70x5", class: "col-md-9"%>
	   </div>
   </div>

  <div class="rounded border border-info bg-white mt-4">
 <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step3 旅の詳細計画</div>
   <div class="mb-4">
    <%= f.fields_for :actions do |t| %>
     <%= render "action_fields", f: t %>
    <% end %>
    <div id="detail-association-insertion-point"></div>
    <div class="form-group form-inline input-group-sm ml-5 pt-3 border-top">
     <div class="add-botton-box col-md-8 text-center">
     <%= link_to_add_association "スケジュール ＋", f, :actions, data: { association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'before'} %>
     </div>
     <%= f.label :cost_sum, "合計", class: "col-md-1 ml-3" %>
	    <%= f.number_field :cost_sum, class: "col-md-2" %>
	   </div>
	  </div>
  </div>


   <div class="rounded border border-info bg-white mt-4">
   <div class="col-md-3 control-label mt-2 mb-3 pt-1 font-weight-bold">step4 検索用タグの登録</div>
	<div class="form-group form-inline input-group-sm">
     <%= f.label"タグ", class: "col-md-1" %>
     <%= f.text_field :name, value: @tag_list, class: "col-md-10", placeholder:"沖縄,シュノーケル,ソーキソバ　(,で区切ると複数タグ登録できます)" %>
    </div>
   </div>

    <div class="row mt-4 pb-5">
    <div class="form-inline mx-auto">
     <% if @plan.is_draft == true %>
      <%= f.submit "計画を公開", :name => 'publicize_draft', class: 'mr-5 btn btn btn-warning text-success font-weight-bold' %>
      <%= f.submit "下書きを更新", :name => 'update_draft', class: 'mr-5 btn btn btn-outline-warning font-weight-bold' %>
     <% else %>
      <%= f.submit "計画を更新", :name => 'update_post', class: 'mr-5 btn btn btn-warning text-success font-weight-bold' %>
     <% end %>
     <%= link_to "計画を削除", "/plans/#{@plan.id}", method: :delete, data: {confirm: "この計画を削除しますか？"}, class: "btn btn-secondary" %>
    </div>
    </div>

 <% end %>

</section>