<section class="inner">

<h3 class="section-ttl text-center text-dark pt-4 pb-3">投稿一覧</h2>

<div class="container pb-4">

 <div class="row mb-2 border-bottom">
  <div class="col-md-8 mb-2">タグリスト：
   <% @tag_list.each do |list|%>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.plans.count})" %>
   <% end %>
  </div>
  <div class="col-md-4 mb-2">
   <%= form_with url: plans_path, method: :get, local: true do |f| %>
    <%= f.text_field :plan_title, placeholder:"キーワード検索" %>
    <%= f.submit :search %>
   <% end %>
  </div>
 </div>

<div class="row mt-3">
<table class="table table-borderless col-md-12 mx-auto">
 	<thead>
 		<tr>
 			<th class="col-md-2 text-center">タイトル</th>
 			<th class="col-md-1 text-center">投稿者</th>
 		 <th class="col-md-1 text-center">作成日</th>
 		 <th class="col-md-6 text-center">目的地</th>
 		 <th class="col-md-2 text-center">予算</th>
 		</tr>
 	</thead>
 	<tbody class="border-bottom">
   <% @plans_search.each do |plan| %>
    <tr>
     <th><%= link_to plan_path(plan) do %>
          <%= plan.plan_title %>
         <% end %>
     </th>
      <td><%= plan.customer.name %></td>
      <td><%= plan.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= plan.purpose_spot %></td>
      <td class="text-right"><%= plan.budget.to_s(:delimited) %> 円</td>
	   </tr>
  <% end %>
  </tbody>
 	<tbody>
 	<% @plans.each do |plan| %>
   <tr>
    <th><%= link_to plan_path(plan) do %>
         <%= plan.plan_title %>
        <% end %>
    </th>
     <td><%= plan.customer.name %></td>
     <td><%= plan.created_at.strftime('%Y/%m/%d') %></td>
     <td><%= plan.purpose_spot %></td>
     <td class="text-right"><%= plan.budget.to_s(:delimited) %> 円</td>
	  </tr>
	 <% end %>
	 </tbody>
  </table>
 </div>
</div>

</div>
</section>