<h2 class="section-ttl">投稿一覧</h2>
<h1>search</h1>
<%= form_with url: plans_path, method: :get, local: true do |f| %>
  <%= f.text_field :plan_title %>
  <%= f.submit :search %>
<% end %>
<table>
  <thead>
    <tr>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <% @plans_search.each do |plan| %>
      <tr>
        <td><%= plan.plan_title %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="plans">
 <% @plans.each do |plan| %>
 <%= link_to plan.plan_title,plan_path(plan) %>
 <%= plan.customer.name %>
 <%= plan.purpose_spot %>
 <%= plan.budget %>
 <% end %>
</div>


<!--タグリスト-->
<% @tag_list.each do |list|%>
<%=link_to list.name,search_tag_path(tag_id: list.id) %>
<%="(#{list.plans.count})" %>
<% end %>
