<section class="inner bg-info">

<form class="text-center py-5">
  <div class="card py-5 mx-auto" style="width: 23rem;">
  <h4>管理者ログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-4 mb-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス", size: "35" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password",placeholder:"パスワード", size: "35" %>
  </div>

  <div class="actions mt-5">
    <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>
</form>

</section>