<div class="container my-4">
<h3 class="text-center"><%= @customer.name %>さんのページ</h3>
 <table class="table table-borderless col-md-5 mx-auto">
 	<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>会員ID</td>
				<td><%= @customer.id %></td>
			</tr>
			<tr>
				<td>ユーザー名</td>
				<td><%= @customer.name %></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td><%= @customer.email %></td>
			</tr>
			<tr>
				<td>投稿件数</td>
				<td><%= @customer.plans.count %> 件</td>
			</tr>
			<tr>
				<td>会員ステータス</td>
				<td>
					<% if @customer.is_active? %>
						<span class="text-active">有効	</span>
					<% else %>
						<span class="text-invalid">退会済み</span>
					<% end %>
				</td>
			</tr>
			<tr>
				<td><%= link_to "編集", edit_admin_customer_path(@customer), class: "btn btn-success" %></td>
				<td><%#= link_to "注文履歴一覧を見る", admin_customer_orders_path(@customer), class: "btn btn-primary" %></td>
			</tr>
		</tbody>
	</table>
</div>