<section class="inner">

<h3 class="section-ttl text-center text-dark pt-4 pb-3">マイページ</h2>

<% if flash[:notice] %>
 <p class="text-active"><%= flash[:notice] %></p>
<% end %>

<div class="container pb-5">
<div class="row">

<div class="border border-success rounded-lg col-md-2 py-3 text-center col align-self-start bg-success text-white">
 <p><%= image_tag @customer.get_profile_image(100,100), class: "rounded-circle bg-light py-3 px-3" %></p>
 <p><%= @customer.name %></p>
 <p><%= @customer.email %></p>
   <% if  @customer.email == 'guest@example.com' %>
   <p class="small">ゲストユーザーはユーザー情報の編集ができません。</p>
  <% elsif @customer == current_customer %>
   <%= link_to "編集する", edit_information_path, class: "btn btn-light text-success btn-sm" %>
  <% else %>
 <% end %>
</div>

<div class="border border-success col-md-5 ml-5 py-3 text-center col align-self-start">
<h5>投稿一覧</h5>
<table class="table table-borderless">
 	<thead>
 		<tr>
 		  <th>タイトル</th>
 		  <th>作成日</th>
 		  <th></th>
 		</tr>
 	</thead>
 	<tbody>
 		<% @plans.each do |plan| %>
    <tr>
      <th><%= link_to plan_path(plan) do %>
           <%= plan.plan_title %>
          <% end %>
      </th>
      <td><%= plan.created_at.strftime('%Y/%m/%d') %></td>
      <td><% if plan.is_draft == true %>
           下書き保存
          <% else %>
           公開中
          <% end %>
    </td>
      <!--<td><%#= link_to "#{plan.post_comments.count} コメント", plan_path(plan.id) %></td>-->
	  </tr>
	  <% end %>
	</tbody>
 </table>
</div>

<div class="border border-success col-md-4 mx-auto py-3 text-center col align-self-start">
<h5>ブックマーク一覧</h5>
<table class="table table-borderless">
 	<thead>
 		<tr>
      <th>タイトル</th>
      <th>投稿者名</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= link_to plan_path(bookmark.plan) do %>
            <%= bookmark.plan.plan_title %>
          <% end %>
        </td>
        <td><%= bookmark.plan.customer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
