 <section class="inner">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
	<h2 class="section-ttl">マイページ</h2>
	<h3>
		登録情報
		<%= link_to "編集する", edit_information_path, class: "btn btn-success ml2" %>
		<%#= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-success ml2" %>
	</h3>
	<table class="customer_info mb3">
		<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>ユーザー名</td>
				<td colspan="2"><%= @customer.name %></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td colspan="2"><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>


<h3>投稿一覧（下書き含む)</h3>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td>
          <%= link_to plan_path(plan) do %>
            <%= plan.plan_title %>
          <% end %>
        </td>
        <td><%= link_to "#{plan.post_comments.count} コメント", plan_path(plan.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>ブックマーク一覧</h3>
 <table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.plan.customer.name %></td>
        <td>
          <%= link_to plan_path(bookmark.plan) do %>
            <%= bookmark.plan.plan_title %>
          <% end %>
        </td>
        <td><%#= bookmark.post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
