<div class="inner bg-light">
 
 <div class="jumbotron jumbotron-extend">
 <div class="container-fluid jumbotron-container">
  <h1 class="site-name">Trip Plan</h1>
   <p>
   	<a class="top_btn" href="customers/sign_in" role="button">log in</a>
    <a class="top_btn" href="customers/sign_up" role="button">sign in</a>
   </p>
   
   <div class="my-md-4">
		  <p style="line-height:2rem">TripPlanへようこうそ<br>
				このサイトは旅行の計画を立て、共有できるコミュニティサイトです。<br>
    いいねやブックマーク、コメント機能があるので、他ユーザーさんの計画を参考にすることができます。<br>
				ゲストログインでご利用もいただけます。<br>
		  </p>
	  </div>
  </div>
</div>

<div class="container">
<h3>新着投稿</h3>
 <table class="table table-borderless col-md-8">
 	<thead>
 		<tr>
 		 <th>タイトル</th>
 		 <th>投稿者</th>
 		 <th>作成日</th>
 		 <th>目的地</th>
 		 <th>予算</th>
 		</tr>
 	</thead>
 	<tbody>
 		<% @plans.each do |plan| %>
    <tr>
      <th><%= plan.plan_title %></th>
      <td><%= plan.customer.name %></td>
      <td><%= plan.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= plan.purpose_spot %></td>
      <td><%= plan.budget %> 円</td>
	  </tr>
	  <% end %>
	</tbody>
 </table>
</div>

	</div>

